<section>
    <header>
        <h2>ChangePassword</h2>
    </header>

    <p>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" ng-model="passwordData.oldPassword" required/>

    </p>
    <p>
        <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" ng-model="passwordData.newPassword" required/>

    </p>
    <p>
        <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" ng-model="passwordData.confirmPassword" required/>

    </p>
    <button ng-click="updatePassword()">Save changes</button>
</section>