<section>
    <header>
        <h2>ChangePassword</h2>
    </header>

    <p>
        <label for="oldPassword">
            <input type="password" id="oldPassword" ng-model="profileData.oldPassword" required/>
        </label>
    </p>
    <p>
        <label for="newPassword">
            <input type="password" id="newPassword" ng-model="profileData.newPassword" required/>
        </label>
    </p>
    <p>
        <label for="confirmPassword">
            <input type="password" id="confirmPassword" ng-model="profileData.confirmPassword" required/>
        </label>
    </p>
    <button ng-click="updatePassword()">Save changes</button>
</section>