<!-- Home view for not logged users -->
<div ng-if="authenticationService.isGuest()">
	<!-- Login -->
	<div class="box">
		<h2>Login</h2>
		<p>
			<label for="username">Username:</label>
			<input type="text" id="username" ng-model="userData.username" required />
		</p>
		<p>
			<label for="password">Password:</label>
			<input type="text" id="password" ng-model="userData.password" required />
		</p>
		<p>
			<a ng-click="login(userData)" class="button">Login</a>
		</p>
	</div>

	<div class="box">
		<h2>Register</h2>
		<p>
			<label for="username">Username</label>
			<input type="text" id="username" ng-model="registerUserData.username">
		</p>
		<p>
			<label for="password">Password</label>
			<input type="text" id="password" ng-model="registerUserData.password">
		</p>
		<p>
			<label for="confirmPassword">Confirm Password</label>
			<input type="text" id="confirmPassword" ng-model="registerUserData.confirmPassword">
		</p>
		<p>
			<label for="name">Name</label>
			<input type="text" id="name" ng-model="registerUserData.name">
		</p>
		<p>
			<label for="email">Email</label>
			<input type="text" id="email" ng-model="registerUserData.email">
		</p>
		<p>
			<a ng-click="register(registerUserData)" class="button">Register</a>
		</p>
	</div>
</div>

<!-- View for users -->
<div ng-if="authenticationService.isLoggedIn()">
	<div ng-controller="UserHeaderController" ng-include="'app/components/home/templates/user-header.html'"></div>
</div>	