<input type="text" ng-model="params.searchTerm" ng-change="search()" placeholder="Search...">

<div ng-if="userResults && params.searchTerm">
    <ul class="">
        <li class="" ng-repeat="result in userResults">
            <a href="#/users/?username={{result.username}}">
                <div class="profile-image-small">
                    <img ng-src="{{result.profileImageData}}" alt="result.username"/>
                </div>
                <div class="search-username">{{result.name}}</div>

            </a>
        </li>
        <li>{{userResults.length}} results total</li>
    </ul>

</div>
<!--<ul class="nav navbar-nav">-->
    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
    <!--<li><a href="#">Link</a></li>-->
    <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->