<div class="user-header">
	<div class="user">
		<div class="profile-image-small pull-left">
			<img ng-src="{{profileData.profileImageData}}">
		</div>
		<h5>{{profileData.name}}</h5>
	</div>
	<nav>
		<ul class="list-unstyled clear user-header-menu">
			<li><a ng-click="newPost()">Post</a></li>
			<li><a ng-click="showFriendRequests()">Friend requests <strong>{{friendRequests.length}}</strong></a></li>
			<li><a href="#/profile" >Edit profile</a></li>
			<li><a ng-click="changePassword()">Change password</a></li>
			<li><a ng-click="logout()">Logout</a></li>
		</ul>
	</nav>
	<div class="search">
		<input type="text" ng-model="searchedTerm" placeholder="Search...">
	</div>
</div>